/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body{
	font: 1em/1 'Lato', Arial, sans-serif;
	color: #2d2926; 
}

h1, h2, h4{
	text-transform: uppercase;
	margin: 0;
	font-weight: bold;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 1.875em;
}

p{
	margin: .625em 0;
	font-weight: 300;
}

a {
	text-decoration: none;
}

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}

.container2{
	width: 90%;
	margin: 5em auto;
	max-width: 1200px;
}

.main-header{
	height: 160px;
	width: 100%;
	position: relative;
	top: 0;
}

.main-footer{
	background: #002b44;
	display: flex;
	align-items: center; 
	height: 172px;
	width: 100%;
}

.main-footer span{
	float: right;
	color: #99aab5;
}

#logo{
	display: inline-block;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}


/* ---- Navigation ---- */

nav{
	background: #002b45;
	height: 60px;
	width: 100%;
}

.header-nav{
	float: right;
}

.main-nav {
	display: flex;
	align-items: center;
	padding: 0;
	min-height: 100%;
}

.footer-nav{
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
}

.main-nav li, .header-nav li, .footer-nav li{
	display: inline-block;
	}

.main-nav a, .footer-nav a, .submenu li a {
	color: #99aab5;
}

.main-nav a, .header-nav a{
	display: block;
	text-align: center;
}

.header-nav a{
	font-size: .875em;
	color: #1b5786;
	margin: auto 0 auto 40px;
}

.footer-nav a {
	margin: auto 30px auto 0;
}

.header-nav a:after, .footer-nav a:after{
	content:"\f24d";
	margin-left: 10px;
	font-family: FontAwesome;
}

.main-nav a {
	margin: auto 40px auto 0;
}

.down:after {
  	content: "\f107";
  	margin-left: 10px;
  	font-family: FontAwesome;
}

.down:focus:after, .down:active:after {
  	content: "\f106";
  	margin-left: 10px;
  	font-family: FontAwesome;
}

.submenu {
    display: none;
    position: absolute;
    width: 205px;
    background-color: #1b5786;
    padding: 0;
    margin-top: 1.2em;
}

.submenu li {
    display: block;
    margin: 0;
}
.submenu li a {
    display: block;
    padding: 10px;
    margin: 0;
    text-align: left;
}

.header-nav a:active{
	color: #002b45;
	font-size: 1em;
}

.main-nav a:active, .footer-nav a:active, .submenu li a:active{
	color: #fff;
}

.main-nav a:focus ~ .submenu, .main-nav a:active ~ .submenu, .submenu:hover {
    display: block;
}

#selected{
	color: #fff;
}

/* ------- Button-------- */

button{
	border: none;
	background: #68b2e3;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

button:active {
	background: #5087ac;
}

.firstbutton{
	font-size: 1.25em;
	padding: .875em 1.25em;
}

.secondbutton{
	padding: 1em;
}

.firstbutton:after{
	content: "\f105";
  	margin-left: 5em;
  	font-family: FontAwesome;
}

.secondbutton:after{
	content: "\f105";
  	margin-left: 1.25em;
  	font-family: FontAwesome;
}

/* ------- Text desktop-------- */

.intro p{
	margin: 2.5em 0;
	font-size: 1.25em;
}

.intro button{
	margin-right: 10px;
}

.graybox{
	background: #eef0f1;
	padding: 5em 0;
	margin: 5em 0;
}

/* ---- Slide baner ---- */

.mySlides {display: none}

.slideshow-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
  	max-height: 580px;
  	position: relative;			
}

.slideshow-container img {
	vertical-align: middle;
	max-height: 580px;
	min-width: 100%;
	min-height: 100%;
	flex-shrink: 0;
}

.prev, .next {
  	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	width: auto;
  	padding: 12px 20px;
  	color: white;
  	font-weight: lighter;
  	font-size: 1.125em;
  	transition: 0.6s ease;
}

.next {
  	right: 0;
  	border-radius: 1px 0 0 1px;
}

.prev {
  	left: 0;
  	border-radius: 0 1px 1px 0;
}

.prev:hover, .next:hover {
  	background-color: #5087ac;
}

/* ---- Download list ---- */

.download div {
	padding: 30px 20px 20px;
	border: 1px solid #d8dad9;
	position: relative;
}

.download div h4:after{
	content:"\f063";
  	font-family: FontAwesome;
  	color: #43759b;
  	font-weight: 100;
  	float: right;
}

.download div p {
	margin: 12px 0 22px;
}

.download div span {
	font-size: 0.75em;
	font-weight: 300;
}

.download div:hover {
	background: #dde3ed;
	cursor: pointer;
}

/* ---- Details ---- */

summary {
  	display: block;
}

  summary::-webkit-details-marker {
  	display: none;
}

/* ---- Video gallery ---- */

.videobar{
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
max-width: 370px;
max-height: 280px;
}

